/*#root {
  background-color: lightblue;
}*/

.btns-home-add-new {
  width: 150px;
  height: 50px;
  margin: 15px auto;
}

.btn-DonorListView-create-donor {
  margin-bottom: 15px;
  width: 100%;
  height: 34px;
  vertical-align:middle;
}

.btn-CreateNewGift-create {
  margin: 15px 40%;
  width: 20%;
  vertical-align:middle;
  padding: 5px;
}

.btn-submit-new-gift {
  float: right;
  width: 150px;
}

.btn-CreateNewDonor-submit {
  float: right;
  width: 150px;
}

.btns-donor-detail-edit-remove {
  margin: 10px 10px 25px 10px;
  flex:initial;
}

.btns-donor-detail {
  width: 49%;
  justify-content: space-around;
}

.donor-list-title {
  text-align: center;
}
.donor-list-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.donor-list-item-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.donor-list-item {
  border: 1px solid grey;
  padding: 5px 10px 5px 10px;
  background-color: #eee;
}

.home-welcome-title {
  text-align: center;
}

/* DonorDetails - Table Styling */
.table-donor-info-title {
  text-align: center;
  margin-top: 5px;
}

.table-donor-gift-title {
  text-align: center;
  margin-bottom: 0.5em;
}

.donor-detail-table {
  border: 2px solid grey;
}

.donor-table-header-main {
  font-size: 0.75em;
}

.donor-table-thead1 {
  width: 20%;
}

.donor-table-thead2 {
  width: 80%;
}

.donor-col-scope {
  font-size: .6em;
}

.donor-gift-table {
  border: 2px solid grey;
}
.donor-gift-table-header {
  font-size: 0.65em;
  text-align: center;
}

.donor-gift-table-body {
  text-align: center;
}

.form-container {
  margin: 10px 10% 25px 10%;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 15px 10px 40px 10px;
  background-color: #eeeeee;
}

.nav-bar-container {
  margin-bottom: 25px !important;
}

.nav-bar-color {
  background-color: lightblue;
  /*margin-bottom: 0px !important;*/
}

.navbar-brand-logo {
  font-size: 22px !important;
}

.navbar-links {
  color: black !important;
}

td {
  font-size: .8em;
}

.title-create-edit-form {
  text-align: center;
  margin: 20px 0;
}

  #sub-title {
    color: red;
  }

.home-welcome-title {
  margin-top: 25px;
  margin-bottom: 25px;
}

.btns-container-home {
  border: 1px solid grey;
  margin-top: 20px;
background-color: #eee;
}
